{{- $ := . -}}
{{- range list "magnoliaLightModuleUpdater" "magnoliaRuntime" "magnoliaWebapp" "tmpInit" "mysqlInit" "mysql" }}
{{- $imageConfig := (get $.Values .).image -}}
{{- $pullSecret := $imageConfig.pullSecret -}}
{{- if and $pullSecret (not $imageConfig.existingPullSecret) -}}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "mgnl.name" $ }}-{{ . | lower }}-pull-secret
data:
{{- if $pullSecret.raw }}
  .dockerconfigjson: {{ $pullSecret.raw }}
{{- else }}
  .dockerconfigjson: {{ printf "{\"auths\": {\"%s\": {\"auth\": \"%s\"}}}" $pullSecret.registry (printf "%s:%s" $pullSecret.username $pullSecret.password | b64enc) | b64enc }}
{{- end }}
type: kubernetes.io/dockerconfigjson
---
{{- end }}
{{- end -}}