{{- if and .Values.magnoliaLightModuleUpdater.privateKey (not .Values.magnoliaLightModuleUpdater.onePassword.enabled) -}}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "mgnl.name" . }}-light-module-updater
  labels:
{{ include "mgnl.labels" . | indent 4 }}
data:
  private-key: {{ .Values.magnoliaLightModuleUpdater.privateKey }}
{{- end }}