{{- if not .Values.magnoliaActivation.onePassword.enabled }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "mgnl.name" . }}-activation-keypair
  labels:
{{ include "mgnl.labels" . | indent 4 }}
data:
  magnolia-activation-keypair.properties: {{ tpl (.Files.Get "magnolia-activation-keypair.properties") . | b64enc }}
{{- end }}
