apiVersion: v1
kind: Secret
metadata:
  name: magnolia-public-paperboy-config
  labels:
{{ include "mgnl.labels" . | indent 4 }}
data:
  userPassword: {{ required "Set paperboy.userPassword" .Values.paperboy.userPassword | b64enc }}
  webhookUrl: {{ required "Set paperboy.webhookUrl" .Values.paperboy.webhookUrl | b64enc }}
  webhookBearerToken: {{ required "Set paperboy.token" .Values.paperboy.token | b64enc  }}
  webhookAuthorization: {{ "BEARER_TOKEN" | b64enc }}