{{- $mergedConfig := include "mgnl.author.microprofileConfig" . | fromYaml -}}
{{- if $mergedConfig -}}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "mgnl.author.name" . }}-microprofile-config
  labels:
    {{- include "mgnl.labels" . | nindent 4 }}
data:
  microprofile-config.yaml: |
    {{- toYaml $mergedConfig | nindent 4 }}
{{- end -}}
