apiVersion: v1
kind: Secret
metadata:
  name: {{ include "mgnl.public.name" . }}-datasource
  labels:
{{ include "mgnl.labels" . | indent 4 }}
data:
  {{- if .Values.magnoliaPublic.datasource.onePassword.enabled }}
  datasource: {{ tpl (.Files.Get "datasource-public-1password.json") . | b64enc }}
  {{- else }}
  datasource: {{ tpl (.Files.Get "datasource-public.json") . | b64enc }}
  {{- end }}
