apiVersion: v1
kind: Secret
metadata:
  name: {{ include "mgnl.author.name" . }}-datasource
  labels:
{{ include "mgnl.labels" . | indent 4 }}
data:
  {{- if .Values.magnoliaAuthor.datasource.onePassword.enabled }}
  datasource: {{ tpl (.Files.Get "datasource-author-1password.json") . | b64enc }}
  {{- else }}
  datasource: {{ tpl (.Files.Get "datasource-author.json") . | b64enc }}
  {{- end }}
