apiVersion: v1
kind: Secret
metadata:
  name: magnolia-author-paperboy-config
  labels:
{{ include "mgnl.labels" . | indent 4 }}
data:
  userPassword: {{ required "Set paperboyPreview.userPassword" .Values.paperboyPreview.userPassword | b64enc }}
  webhookUrl: {{ required "Set paperboy.webhookUrl" .Values.paperboyPreview.webhookUrl | b64enc }}
  webhookBearerToken: {{ required "Set paperboyPreview.token" .Values.paperboyPreview.token | b64enc  }}
  webhookAuthorization: {{ "BEARER_TOKEN" | b64enc }}