apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: {{ include "mgnl.author.name" . }}
  labels:
    {{- include "mgnl.labels" . | nindent 4 }}
  {{- if .Values.keel.enabled }}
  annotations:
    {{- toYaml .Values.keel.annotations | nindent 4 }}
  {{- end }}
spec:
  serviceName: "magnolia-author"
  replicas: {{ .Values.magnoliaAuthor.replicaCount }}
  selector:
    matchLabels:
      app.kubernetes.io/name: magnolia-author
      app.kubernetes.io/instance: {{ .Release.Name }}
  template:
    metadata:
      annotations:
        app.kubernetes.io/datasource-checksum: {{ tpl (.Files.Get "datasource-author.json") . | sha256sum }}
      labels:
        app.kubernetes.io/name: magnolia-author
        app.kubernetes.io/instance: {{ .Release.Name }}
    spec:
      initContainers:
        {{- if .Values.jackrabbit.fileDatastore.enabled }}
        - name: datastore-init
          image: "{{ .Values.datastoreInit.image.repository }}:{{ .Values.datastoreInit.image.tag }}"
          imagePullPolicy: {{ .Values.datastoreInit.image.pullPolicy }}
          command:
            [
              "sh",
              "-c",
              "chown -R 1000 /home/tomcat/magnolia_datastore",
            ]
          resources:
            {{- toYaml .Values.datastoreInit.resources | nindent 12 }}
          volumeMounts:
            - name: magnolia-datastore
              mountPath: /home/tomcat/magnolia_datastore
        {{- end }}
        - name: tmp-init
          image: "{{ .Values.tmpInit.image.repository }}:{{ .Values.tmpInit.image.tag }}"
          imagePullPolicy: {{ .Values.tmpInit.image.pullPolicy }}
          command:
            [
              "sh",
              "-c",
              "mkdir -p /home/tomcat/magnolia_tmp ; chown -R 1000 /home/tomcat/magnolia_tmp",
            ]
          resources:
            {{- toYaml .Values.tmpInit.resources | nindent 12 }}
          volumeMounts:
            - name: magnolia-tmp
              mountPath: /home/tomcat/magnolia_tmp
        - name: war-copy
          image: "{{ .Values.magnoliaWebapp.image.repository }}:{{ .Values.magnoliaWebapp.image.tag }}"
          imagePullPolicy: {{ .Values.magnoliaWebapp.image.pullPolicy }}
          resources:
            {{- toYaml .Values.magnoliaWebapp.resources | nindent 12 }}
          volumeMounts:
            - name: webapps
              mountPath: /usr/local/tomcat/webapps
      containers:
        - name: magnolia
          image: "{{ .Values.magnoliaRuntime.image.repository }}:{{ .Values.magnoliaRuntime.image.tag }}"
          imagePullPolicy: {{ .Values.magnoliaRuntime.image.pullPolicy }}
          lifecycle:
            preStop:
              exec:
                command: ["/usr/local/tomcat/bin/catalina.sh", "stop", "30"]
          startupProbe:
            exec:
              command:
              - /usr/local/bin/probe
              - startup
            periodSeconds: 10
            failureThreshold: 250
            timeoutSeconds: 10
          readinessProbe:
            exec:
              command:
              - /usr/local/bin/probe
              - readiness
            periodSeconds: 10
            failureThreshold: 12
            timeoutSeconds: 10
          livenessProbe:
            exec:
              command:
              - /usr/local/bin/probe
              - liveness
            periodSeconds: 10
            failureThreshold: 6
            timeoutSeconds: 10
          resources:
            {{- toYaml .Values.magnoliaRuntime.resources | nindent 12 }}
          env:
            - name: DATASOURCES
              valueFrom:
                secretKeyRef:
                  name: {{ include "mgnl.author.name" . }}-datasource
                  key: datasource
            - name: MAGNOLIA_CONFIG
              value: "{{ .Values.magnoliaAuthor.configName }}"
            - name: TZ
              value: "Europe/Berlin"
            - name: JDK_JAVA_OPTIONS
              value: "-Dmagnolia.license.location=/home/tomcat/magnolia-license -Dmagnolia.config.locations=/home/tomcat/config/microprofile-config.yaml -Dmagnolia.yaml.envsubst=true"
{{- with .Values.magnoliaAuthor.customEnv }}
{{- range $key, $value := . }}
            - name: {{ $key }}
              value: {{ $value | quote }}
{{- end }}
{{- end }}
          ports:
            - name: http
              containerPort: 8080
          volumeMounts:
            {{- if .Values.jackrabbit.fileDatastore.enabled }}
            - name: magnolia-datastore
              mountPath: /home/tomcat/magnolia_datastore
            {{- end }}
            - name: magnolia-tmp
              mountPath: /home/tomcat/magnolia_tmp
            - name: webapps
              mountPath: /usr/local/tomcat/webapps
            - name: light-modules
              mountPath: /home/tomcat/light-modules
            - name: activation-keypair
              mountPath: /home/tomcat/magnolia-activation-keypair.properties
              subPath: magnolia-activation-keypair.properties
              readOnly: true
            {{- if .Values.license.enabled }}
            - name: license
              mountPath: /home/tomcat/magnolia-license/license.key
              subPath: license.key
              readOnly: true
            {{- end }}
            {{- if .Values.magnoliaAuthor.microprofileConfig }}
            - name: microprofile-config
              mountPath: /home/tomcat/config
              readOnly: true
            {{- end }}
        - name: light-module-updater
          image: "{{ .Values.magnoliaLightModuleUpdater.image.repository }}:{{ .Values.magnoliaLightModuleUpdater.image.tag }}"
          imagePullPolicy: {{ .Values.magnoliaLightModuleUpdater.image.pullPolicy }}
          resources:
            {{- toYaml .Values.magnoliaLightModuleUpdater.resources | nindent 12 }}
          volumeMounts:
            - name: light-modules
              mountPath: /home/tomcat/light-modules
            - name: light-module-updater-config
              mountPath: /home/docker/config
          env:
            - name: SOURCE_DIR
              value: {{ .Values.magnoliaLightModuleUpdater.sourceDir }}
            - name: GIT_BRANCH
              value: {{ .Values.magnoliaLightModuleUpdater.branch }}
            - name: CHECKOUT_TAG
              value: "{{- if typeIs "string" .Values.magnoliaLightModuleUpdater.tag }}true{{ else }}{{ .Values.magnoliaLightModuleUpdater.tag }}{{ end }}"
            - name: GIT_REPO_URL
              value: {{ .Values.magnoliaLightModuleUpdater.repoUrl }}
            {{- if .Values.magnoliaLightModuleUpdater.privateKey }}
            - name: GIT_PRIVATE_KEY
              valueFrom:
                secretKeyRef:
                  name: {{ include "mgnl.name" . }}-light-module-updater
                  key: privateKey
            {{- end }}
      imagePullSecrets: {{ include "mgnl.magnolia.pullSecrets" . }}
      volumes:
        {{- if .Values.jackrabbit.fileDatastore.enabled }}
        - name: magnolia-datastore
        {{- end }}
        - name: magnolia-tmp
        - name: webapps
          emptyDir: {}
        - name: light-modules
          emptyDir: {}
        - name: light-module-updater-config
          configMap:
            name: {{ include "mgnl.name" . }}-light-module-updater
            items:
              - key: tag
                path: tag
        {{- if .Values.license.enabled }}
        - name: license
          secret:
            secretName: {{ include "mgnl.name" . }}-license
        {{- end }}
        {{- if .Values.magnoliaAuthor.microprofileConfig }}
        - name: microprofile-config
          configMap:
            name: {{ include "mgnl.author.name" . }}-microprofile-config
        {{- end }}
        - name: activation-keypair
          secret:
            secretName: {{ include "mgnl.name" . }}-activation-keypair
      {{- with .Values.magnoliaAuthor.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
    {{- with .Values.magnoliaAuthor.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
    {{- end }}
    {{- with .Values.magnoliaAuthor.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
    {{- end }}
  volumeClaimTemplates:
    {{- if .Values.jackrabbit.fileDatastore.enabled }}
    - metadata:
        name: magnolia-datastore
      spec:
        accessModes: ["ReadWriteOnce"]
        resources:
          {{- toYaml .Values.jackrabbit.fileDatastore.resources | nindent 10 }}
    {{- end }}
    - metadata:
        name: magnolia-tmp
      spec:
        accessModes: ["ReadWriteOnce"]
        resources:
          {{- toYaml .Values.magnoliaTmp.storage.resources | nindent 10 }}

