{{- if and .Values.mysql.enabled (not .Values.mysql.onePassword.enabled) -}}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "mgnl.mysql.name" . }}-passwords
  labels:
    {{- include "mgnl.labels" . | nindent 4 }}
data:
  root: {{ (required "Provide mysql.rootPassword or enable mysql.onePassword" .Values.mysql.rootPassword) | b64enc }}
{{- end -}}
