apiVersion: v1
kind: Secret
metadata:
  name: {{ include "mgnl.mysql.name" . }}-init
  labels:
    {{- include "mgnl.labels" . | nindent 4 }}
data:
  init.sql: {{ tpl (.Files.Get "init.sql") . | b64enc }}
