version: "3.4"
services:
  sut:
    build:
      dockerfile: ../Dockerfile
      context: build
    environment:
      LOG_LEVEL: DEBUG
      DATASOURCES: |
        {
          "datasources": [
            {
              "name": "MagnoliaAuthor",
              "database": "author",
              "host": "db",
              "password": "<&%!^>",
              "username": "author"
            }
          ]
        }
  db:
    image: mysql:8.0.32
    environment:
      MYSQL_DATABASE: author
      MYSQL_USER: author
      MYSQL_PASSWORD: <&%!^>
      MYSQL_RANDOM_ROOT_PASSWORD: "true"